/* --------------- Top Menu Appearance ---------------- */
div.dokuwiki div.menu_top {
	height : 45px;
	text-align : center;
	background-image: url(images/tus_menu_background.png);
  background-repeat: repeat-x;
  background-position: left bottom;
	padding-top: 1px;
}

div#tpl_simple_navi ul.primary li div.li {
  background-color: __tus_menu_background__;
	font-size: 18px;
	color: __tus_menu_color__;
}

div#tpl_simple_navi ul li.level2 div.li, 
div#tpl_simple_navi ul li.level3 div.li,
div#tpl_simple_navi ul li.level4 div.li, 
div#tpl_simple_navi ul li.level5 div.li{
	background : __rg_top_levelx_background__;
	border-left : 1px solid __rg_top_levelx_border__;
	border-right : 1px solid __rg_top_levelx_border__;
	border-bottom : 1px solid __rg_top_levelx_border__;
	font-size: 12px;
}

div#tpl_simple_navi ul li.level2 div.li:hover, 
div#tpl_simple_navi ul li.level3 div.li:hover, 
div#tpl_simple_navi ul li.level4 div.li:hover, 
div#tpl_simple_navi ul li.level5 div.li:hover {
}

div.dokuwiki div.menu_top ul.menu {
	padding : 5px;
	margin : 0;
}

div.dokuwiki li.menu {
	display : inline;
	list-style-type : none;
	padding : 0;
	cursor : pointer;
}

div.dokuwiki li.menu a {
	display : inline-block;
	padding : 5px 20px;
	background-color : __rg_menu_background__;
	background : url(images/menu-left.png) no-repeat;
	background-position : -50px 0;
	border-left : 1px solid __rg_menu_border__;
	text-decoration : none;
	height : 25px;
}

div.dokuwiki li.menu a:hover {
	color : __rg_menu_color_hover__;
}

div.dokuwiki li.first a { 
	border-left : none;
}

div.dokuwiki li.last a { 
}

/* ---------- Top Menu Navigation ----------- */
div.dokuwiki div#tpl_simple_navi {
/*  margin-left: 20px*/
/*   margin-top : 5px; */
  /*height: 30px;*/
  display : table;
  text-align : center;
  margin-left: auto;
  margin-right: auto;
}

div.dokuwiki div#tpl_simple_navi ul {
  list-style: none;
  list-style-image : none;
  list-style-position : none;
  list-style-type : none;
  float: left;
  margin: 0;
  padding: 0;
}

div.dokuwiki div#tpl_simple_navi ul li {
  float: left;
  margin: 0;
  margin-right: 0;
  list-style-type : none;
  width: __navi_link_width__;
  background-color: __navi_background__;
}

div.dokuwiki div#tpl_simple_navi a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 0.4em;
  padding-left: 0.8em;
  color: __tus_menu_color__;
}

div.dokuwiki div#tpl_simple_navi a.wikilink2 {
  border-bottom: none !important;
}

div.dokuwiki div#tpl_simple_navi a.urlextern,
div.dokuwiki div#tpl_simple_navi a.interwiki {
  padding: 0;
  padding: 0.4em;
  padding-left: 0.8em;
  background-image: none;
}

div.dokuwiki div#tpl_simple_navi a:hover {
  color : __rg_menu_color_hover__; 
}

div.dokuwiki div#tpl_simple_navi li {
  margin: 0;
  padding: 0;
  position: relative;
}

div.dokuwiki div#tpl_simple_navi ul ul {
  border: none;
  position: absolute;
  z-index: 500;
}

div.dokuwiki div#tpl_simple_navi ul ul ul {
  top: 0;
  left: 100%;
  margin-top: 5px;
  border-top : 1px solid __rg_top_levelx_border__;
}

div.dokuwiki div#tpl_simple_navi ul ul,
div.dokuwiki div#tpl_simple_navi ul li:hover ul ul,
div.dokuwiki div#tpl_simple_navi ul ul li:hover ul ul {
  display: none;
}

div.dokuwiki div#tpl_simple_navi ul li:hover ul,
div.dokuwiki div#tpl_simple_navi ul ul li:hover ul,
div.dokuwiki div#tpl_simple_navi ul ul ul li:hover ul {
  display: block;
}

div.dokuwiki .navi_clearer {
  clear: both;
  margin-bottom: 1.8em;
}
